<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/orm_competicion</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hbm2ddl.auto">create-drop</property>

		<property name="hibernate.show_sql">false</property>

		<mapping class="com.practica3.model.Equipo" />
		<mapping class="com.practica3.model.Competicion" />
		<mapping class="com.practica3.model.Clasificacion" />
		<mapping class="com.practica3.model.Estadio" />
		<mapping class="com.practica3.model.Jugador" />
		<mapping class="com.practica3.model.Partido" />
		<mapping class="com.practica3.model.Patrocinador" />
	</session-factory>
</hibernate-configuration>
